<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Price Quotation</title>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/font-awesome/css/all.min.css"/>
    <style type="text/css">
        .title {
            margin: auto;
            text-align: center;
            font-size: 4em;
        }
    </style>
</head>
<body>
    <div class="container">
        <main>
            @RenderBody()
        </main>
    </div>
</body>
</html>